.mat-button-toggle-checked {
  background-color: #00ff00 !important;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
